In [3]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("My name is "+name+'. My age is '+age)

What is your name? ;
What is your age? ;
My name is ;. My age is ;

In [5]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a == b):
  print("Equal")
else:
  print("Not")

Not

In [7]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a > b):
  print("Greater")
if (a == b):
  print("equal")
else:
  print("less")

less

In [8]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print (k)

1
2
3
4
5

In [10]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range (5,0,-1):
  print(k)

5
4
3
2
1

In [20]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for k in range (10,-1,-2):
  if (k != 8):
    print(k)

10
6
4
2
0

In [33]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944)
def age(birth_year):
  return 2025-birth_year
print(age(2004))

21

In [32]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y

  def substraction(x,y):
    return x-y

  def multiplication(x,y):
    return x*y

  def division(x,y):
    return x/y
print(arithmetic.addition(3,4))
print(arithmetic.substraction(3,4))
print(arithmetic.multiplication(3,4))
print(arithmetic.division(3,4))

7
-1
12
0.75

In [37]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def summation(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 4
print(summation(n))

10

In [38]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

import random

random_numbers = [random.random() for _ in range(10)]

number_list = random_numbers

print(number_list[:3])

[0.07522168031141063, 0.8398384668943543, 0.260546221355358]

In [39]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
def print_divisible_by_3(n):
    for i in range(1, n + 1):
        if i % 3 == 0:
            print(i, end=", ")

n = int(input("Enter a number: "))
print_divisible_by_3(n)

Enter a number: 15
3, 6, 9, 12, 15,